.navWelcome{
  grid-area: navWelcome;
  color: grey;
}

.session{
  text-decoration: none;
  background: white;
  color: grey;
  grid-area: session;
  border: none;
  cursor: pointer;
}

.navbar{
  display: grid;
  align-items: center;
  grid-gap: 10px;
  grid-template-areas:
  "navWelcome"
  "session";
}

@media only screen and (min-width: 500px) {
  .navbar{
    display: grid;
    align-items: center;
    grid-template-columns: auto 20% 5em;
    grid-template-areas:
    ". navWelcome session";
  }
}
